


/**********************************/
/* Elements for default structure */
/**********************************/

div#logo {
  background-image: url('../icon.png');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 1em 1em;
  color: rgba(var(--color-teal-dark), 1);
  font-family: 'Roboto';
  font-size: 4rem;
  font-weight: bold;
  line-height: 4rem;
  padding-left: 5rem;
  text-shadow: .1rem .1rem rgba(var(--color-teal-dark), .25); }


@media (max-width: 800.00px) {

  div#logo {
    margin-bottom: 2rem; } }
